# Table of contents
### 0. Importing libraries and datasets. And creating a subset
### 1. Creating price_label column
#### 1.1 If-Statements
#### 1.2 If-Statements with the loc() Function
#### 1.3 For Loop
### 2. Changing busiest day to the two busiest days and adding the Slowest day
### 3. Check values of busiest day
### 4. Busiest hours of the day
### 5. Exporting data to pkl

#### 1. Importing libraries and datasets. And creating a subset

In [26]:
# Import libraries

import pandas as pd
import numpy as np
import os

In [27]:
# Import datasets
path = r'C:\Users\raque\Documents\08-2023 Instacart Basket Analysis'
ords_prods_merged = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged.pkl'))

In [28]:
# Create a subset
df = ords_prods_merged[:1000000]

In [29]:
df.head()

,Unnamed: 0.1,Unnamed: 0_x,order_id,user_id,order_number,order_day_of_the_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,_merge,Unnamed: 0_y,product_name,aisle_id,department_id,prices,merge2
0,0,0,2539329,1,1,2,8,NaN,196,1,0,both,195,Soda,77,7,9.0,both
1,1,1,2398795,1,2,3,7,15.0,196,1,1,both,195,Soda,77,7,9.0,both
2,2,2,473747,1,3,3,12,21.0,196,1,1,both,195,Soda,77,7,9.0,both
3,3,3,2254736,1,4,4,7,29.0,196,1,1,both,195,Soda,77,7,9.0,both
4,4,4,431534,1,5,4,15,28.0,196,1,1,both,195,Soda,77,7,9.0,both

### 1. Creating price_label column

#### 1.1 If-Statements

In [30]:
# Function called price_label that will apply a label to every row within the dataframe

def price_label(row):

  if row['prices'] <= 5:
    return 'Low-range product'
  elif (row['prices'] > 5) and (row['prices'] <= 15):
    return 'Mid-range product'
  elif row['prices'] > 15:
    return 'High range'
  else: return 'Not enough data'

In [31]:
 df['price_range'] = df.apply(price_label, axis=1)

C:\Users\raque\AppData\Local\Temp\ipykernel_24784\1519565292.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['price_range'] = df.apply(price_label, axis=1)

In [50]:
 df['price_range'].value_counts(dropna = False)

price_range
Mid-range product    756450
Low-range product    243550
Name: count, dtype: int64

In [33]:
# Checking the most expensive product within the subset
df['prices'].max()

14.8

#### 1.2 If-Statements with the loc() Function

In [34]:
ords_prods_merged.loc[ords_prods_merged['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [35]:
ords_prods_merged.loc[(ords_prods_merged['prices'] <= 15) & (df['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [36]:
ords_prods_merged.loc[ords_prods_merged['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [37]:
ords_prods_merged['price_range_loc'].value_counts(dropna = False)

price_range_loc
NaN                   21104410
Low-range product     10126321
Mid-range product       756450
High-range product      417678
Name: count, dtype: int64

#### 1.3 For Loops

In [38]:
# Frequency of the "orders_day_of_the_week"
ords_prods_merged['order_day_of_the_week'].value_counts(dropna = False)

order_day_of_the_week
0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: count, dtype: int64

In [39]:
result = []

for value in ords_prods_merged["order_day_of_the_week"]:
  if value == 0:
    result.append("Busiest day")
  elif value == 4:
    result.append("Least busy")
  else:
    result.append("Regularly busy")

In [40]:
ords_prods_merged['busiest_day'] = result

In [41]:
ords_prods_merged['busiest_day'].value_counts(dropna = False)

busiest_day
Regularly busy    22416875
Busiest day        6204182
Least busy         3783802
Name: count, dtype: int64

### 2. Changing busiest day to the two busiest days and adding the Slowest day

In [42]:
result = []

for value in ords_prods_merged["order_day_of_the_week"]:
  if value == 0 or value == 1:
    result.append("Busiest day")
  elif value == 4 or value == 3:
    result.append("Slowest Days")
  else:
    result.append("Regularly busy")

In [43]:
ords_prods_merged['busiest_day'] = result

### 3. Check values of busiest day

In [44]:
ords_prods_merged['busiest_day'].value_counts(dropna = False)

busiest_day
Regularly busy    12916111
Busiest day       11864412
Slowest Days       7624336
Name: count, dtype: int64

### 4. Busiest hours of the day

In [45]:
# Frequency of the "order_hour_of_day"
ords_prods_merged['order_hour_of_day'].value_counts(dropna = False)

order_hour_of_day
10    2761760
11    2736140
14    2689136
15    2662144
13    2660954
12    2618532
16    2535202
9     2454203
17    2087654
8     1718118
18    1636502
19    1258305
20     976156
7      891054
21     795637
22     634225
23     402316
6      290493
0      218769
1      115700
5       87961
2       69375
4       53242
3       51281
Name: count, dtype: int64

In [46]:
hours = []

for x in ords_prods_merged["order_hour_of_day"]:
# from 9h to 17h = Most orders
  if (x >=9)  and (x <= 17):
    hours.append("Most orders")
# from 22h to 6h = Fewest orders
  elif (x>= 22) and (x <= 6):
    hours.append("Fewest orders")
# rest (7h, 8h, 18h, 19h, 20h, 21h) = Average orders  
  else:
    hours.append("Average orders")

In [47]:
ords_prods_merged['busiest_hour'] = hours

In [48]:
ords_prods_merged['busiest_hour'].value_counts(dropna = False)

busiest_hour
Most orders       23205725
Average orders     9199134
Name: count, dtype: int64

#### No orders between 22h to 6h

### 5. Exporting data to pkl

In [49]:
# Expor### 4. Busiest hours of the dayt data to pkl
ords_prods_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_prods_merged_v2.pkl'))